 <% include partials/header %>
 
 



<table id="customers">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
    <th>Message</th>
  </tr>
  
<% data.forEach(function(data){ %>
  <tr>
    <td><%= data.name%></td>
    <td><%= data.email %></td>
    <td><%= data.subject %></td>
    <td><%= data.message %></td>
     <td><a href="/read/<%=data.id %>">Detail</a></td>
  </tr>
  
  
   <%})%>
   
   

</table>



 
 

